:root {
    /* background */
    --color-background-page: #E1D4C9;
    --color-background-container: #665F55;

    /* text */
    --color-text-primary: #403F3D;
    --color-text-accent: #B0907A;
    --color-text-inverse: #E1D4C9;

    /* border */
    --color-border-primary: #C1B6AD;

}

@font-face {
    font-family: 'Inter Variable';
    src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Variable Italic';
    src: url('../assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter Variable', sans-serif;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
}

.header__logo {
    width: 10rem;
    height: 6rem;
}

.header__icon {
    width: 2rem;
    height: 2rem;
}

.header__wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: var(--color-background-page);
}

.navigation {
    display: flex;
    gap: 4rem;
}

.navigation__item {
    list-style: none;
}

.header__link {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--color-text-primary);
    text-decoration: none;
    display: flex;
    gap: 0.8rem;
    transition: border-color 0.3s;
    border-bottom: 0.2rem solid transparent;
}

.header__link:hover {
    border-bottom: 0.2rem solid var(--color-text-primary);
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.theme-switch {
    border: 1px solid var(--color-border-primary);
    border-radius: 10rem;
    background-color: var(--color-background-page);
    display: flex;
    gap: 0.8rem;
    padding: 0.4rem;
    cursor: pointer;
}

.theme-switch__item {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switch__item_active {
    background-color: var(--color-text-accent);
}

.theme-switch__icon_hover {
    display: none;
}

.theme-switch:hover .theme-switch__item:not(.theme-switch__item_active) .theme-switch__icon_default {
    display: none;
}

.theme-switch:hover .theme-switch__item:not(.theme-switch__item_active) {
    background-color: var(--color-background-container);
}

.theme-switch:hover .theme-switch__item:not(.theme-switch__item_active) .theme-switch__icon_hover {
    display: block;
}

.footer {
    background-color: var(--color-background-page);
}

.footer__wrapper {
    padding-bottom: 2rem;
}

.footer__inner {
    border-radius: 4rem;
    background-color: var(--color-background-container);
    padding: 10rem;

    display: flex;
    align-items: center;
    gap: 10rem;
}

.footer__title {
    font-family: inherit;
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.25;
    color: var(--color-text-inverse);
}

.footer__accent {
    font-family: 'Inter Variable Italic', sans-serif;
    font-style: italic;
    font-variation-settings: "ital"1;
    color: var(--color-text-accent);
}

.footer__offer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.footer__social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.1rem solid var(--color-border-primary);
    padding: 1.8rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.footer__social {
    display: flex;
    gap: 1.2rem;
}

.footer__contacts-title {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.25;
    font-style: normal;
    color: var(--color-text-inverse);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.footer__contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer__contact-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    font-style: normal;
    color: var(--color-text-inverse);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.5;
}

.footer__contact-link {
    align-self: flex-start;
    text-decoration: none;
    border-bottom: 0.2rem solid transparent;
    padding-bottom: 0.4rem;
    transition: border-color 0.3s;
}

.footer__contact-link:hover {
    border-bottom: 0.2rem solid var(--color-text-inverse);
}

.footer__social-button:hover {
    background-color: var(--color-background-page);
}

.footer__social-button img {
    transition: filter 0.3s;
}

.footer__social-button:hover img {
    filter: brightness(0) saturate(100%) invert(37%) sepia(8%) saturate(560%) hue-rotate(356deg) brightness(91%) contrast(88%);
}

.main {
    background-color: var(--color-background-page);
    padding-bottom: 10rem;

    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.hero {
    background-image: url('../assets/images/img-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4rem;
    padding: 10rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
}

.hero__title {
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 1.05;
    color: var(--color-text-inverse);
    max-width: 53rem;
}

.hero__accent {
    color: var(--color-text-accent);
    font-style: italic;
}

.hero__description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text-inverse);
    max-width: 53rem;
}

.hero__button {
    width: 20rem;

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-text-primary);
    background-color: var(--color-text-inverse);
    padding: 2rem 0;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.hero__button::after {
    content: '';
    width: 2rem;
    height: 2rem;
    background-image: url('../assets/icons/coffee-cup.svg');
    background-size: contain;
    background-repeat: no-repeat;

    display: none;
}

.hero__button:hover::after {
    display: block;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.favorite-coffee {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.favorite-coffee__title {
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.25;
    color: var(--color-text-primary);
    text-align: center;
}

.favorite-coffee__accent {
    font-style: italic;
    color: var(--color-text-accent);
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__button {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 0.1rem solid var(--color-background-container);
    background-color: var(--color-background-page);

    cursor: pointer;
    transition: background-color 0.3s;
}

.slide__caption {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.25;
    color: var(--color-text-primary);
}

.slide__text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text-primary);

    width: 46rem;
    text-align: center;
}

.slide__price {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.25;
    color: var(--color-text-primary);
}

.slide {
    display: flex;
    flex-direction: column;
}

.slide__img {
    margin-bottom: 2rem;
}

.slide__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 4rem;
}

.slide__control {
    width: 4rem;
    height: 0.4rem;
    background-color: var(--color-border-primary);
    border-radius: 0.2rem;
}

.slide__control_active {
    background-color: var(--color-background-container);
}

.slide__controls {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

.slider__img {
    transition: filter 0.3s;
}

.slider__button:hover .slider__img {
    filter: brightness(0) saturate(100%) invert(86%) sepia(9%) saturate(300%) hue-rotate(350deg) brightness(91%) contrast(90%);
}

.slider__button:hover {
    background-color: var(--color-background-container);
}